.intro {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 250px;
    width: 100%;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}